<html>
    <head>
        <link href="//maxcdn.bootstrapcdn.com/bootstrap/4.1.1/css/bootstrap.min.css" rel="stylesheet" id="bootstrap-css">
        <script src="//maxcdn.bootstrapcdn.com/bootstrap/4.1.1/js/bootstrap.min.js"></script>
        <script src="//cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
    </head>

    <body>
        <div class="page-wrap d-flex flex-row align-items-center">
            <div class="container">
                <div class="row justify-content-center">
                    <div class="col-md-12 text-center">
                        <img height="600px" src="https://img.freepik.com/free-vector/error-404-concept-illustration_114360-1811.jpg?w=2000&t=st=1653833250~exp=1653833850~hmac=843a02b374252a7a8bdd3e5d3ca6d6dac554cd25c62d153d1844d5ca4f5638be"/>
                        <div class="mb-4 lead">The page you are looking for was not found.</div>
                        <a href="{% url 'home' %}" class="btn btn-link">Back to Home</a>
                    </div>
                </div>
            </div>
        </div>
    </body>
</html>